 /***************************/
 
 html,
 body {
     height: 100%;
     width: 100%;
     font-family: Helvetica, Arial, sans-serif;
     margin: 0;
     padding: 0;
 }
 
 p {
     font-family: arial;
     color: black;
     font-weight: bold;
     text-align: center;
     border-spacing: 0;
     border: none;
     padding: 0;
     text-decoration: none;
     list-style-type: none;
 }
 
 .title {
     word-break: break-all;
     vertical-align: top;
     font-size: calc(1vw + 1vh + 1vmin);
 }
 
 .valueP {
     word-break: break-all;
     vertical-align: middle;
     font-size: calc(5vw + 5vh + 2vmin);
 }
 
 .wrapper {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
     height: 100%;
     width: 100%;
     background: black;
 }
 
 .swiper-pagination-bullet {
     min-width: 3rem;
     width: auto;
     height: 1.5rem;
     text-align: center;
     display: inline-block;
     line-height: 20px;
     font-size: 20px;
     background-color: white;
     border-radius: 0%;
     background: rgba(0, 0, 0, 0.2);
     opacity: 1;
 }
 
 .swiper-pagination-bullet-active {
     color: #fff;
     background-color: black;
     border: 2px;
 }
 
 .item {
     height: 49.8%;
     width: 49.8%;
     background: #fff;
 }
 
 .item1 {
     height: 49.5%;
     width: 99.5%;
     background: #fff;
 }
 
 .swiper-container {
     width: 100%;
     height: 100%;
 }
 
 .swiper-slide {
     width: 100%;
     height: 200%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: white;
 }
 
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 
 body {
     overflow: hidden;
     background-color: white;
     /*background-position: fixed; w3c validator error*/
     font-family: Lato, sans-serif;
 }
 
 a {
     text-decoration: none;
 }
 
 #id {
     transform: rotate(45deg);
 }
 /* Estilos de la barra superior */
 /*
 
Estilos del botón del menú */
 
 .menu-button--checkbox {
     display: none;
 }
 /* Se desplaza el menú a la derecha y se fija */
 
 .menu-button--checkbox:checked ~ .nav {
     right: 0;
     position: fixed;
 }
 /* Se desplaza el botón a la derecha y se fija */
 
 .menu-button--checkbox:checked ~ .menu-button--label {
     position: fixed;
     right: 210px;
 }
 /* Se desplaza el contenido a la derecha */
 
 .menu-button--checkbox:checked ~ .main-w {
     margin-left: -200px;
 }
 /* Estilos del menú y los items */
 
 .nav {
     position: fixed;
     top: 0;
     right: -200px;
     /* Se oculta el menú a la derecha */
     z-index: 10;
     /* Se le asigna un índice alto para que esté encima del contenido */
     width: 200px;
     height: 100vh;
     padding-top: 3.5rem;
     background-color: hsla(180, 20%, 10%, 1);
     border-left: 6px solid hsla(180, 40%, 50%, 1);
     transition: all .5s ease;
     /* Desplazamiento del menú */
 }
 
 .nav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     margin-top: 12px;
     color: #818181;
     display: block;
     transition: 0.3s
 }
 /* When you mouse over the navigation links, change their color */
 
 .nav a:hover,
 .offcanvas a:focus {
     color: #f1f1f1;
 }
 
 #fullscreen {
     vertical-align: center;
     height: inherit;
     margin-right: 2rem;
 }
 
 h1 {
     vertical-align: text-top;
     align-content: center;
     display: inline-block;
     line-height: 3rem;
     margin-top: .5rem;
     height: inherit;
 }
 
 .main-w {
     width: 100%;
     height: 89.5vh;
     transition: all .5s ease;
 }
 /*************************************/
 
 .container {
     display: inline-block;
     cursor: pointer;
     align-items: center;
     margin-top: 0.3rem;
 }
 
 .change .bar1 {
     -webkit-transform: rotate(-45deg) translate(-9px, 6px);
     transform: rotate(-45deg) translate(-9px, 6px);
 }
 
 .change .bar2 {
     opacity: 0;
 }
 
 .change .bar3 {
     -webkit-transform: rotate(45deg) translate(-8px, -8px);
     transform: rotate(45deg) translate(-8px, -8px);
 }
 /*************************************/
 
 @media (min-width:481px) and (max-width: 620px) {
     /* smartphones, Android phones, landscape iPhone */
     .bussola {
         position: relative;
         width: auto;
         height: 60%;
         margin: 1% 4% 0 5%;
     }
     .lancetta2 {
         position: absolute;
         width: auto;
         height: 50%;
         transform-origin: 53% 52%;
     }
     #fs {
         width: auto;
         height: 2.5rem;
         margin: -15px -20px 0px -10px;
         margin-bottom: 2.3rem;
     }
     .header {
         height: 2.4rem;
         padding: .5rem;
         background: hsla(190, 80%, 25%, 1);
     }
     .menu-button--label {
         position: absolute;
         z-index: 100;
         top: 3px;
         right: .5rem;
         width: 3rem;
         height: 2.1rem;
         background: hsla(180, 40%, 50%, 1);
         border-radius: 3px;
         cursor: pointer;
         text-align: center;
         line-height: 3rem;
         font-size: 2rem;
         color: white;
         transition: all .5s ease;
     }
     .bar1,
     .bar2,
     .bar3 {
         width: 35px;
         height: 2px;
         background-color: white;
         margin: 6px 0;
         transition: 0.4s;
         border-radius: 20%;
     }
     appr {
         visibility: hidden;
     }
     .brand {
         margin-top: -0.9rem;
     }
     #clock {
         margin-top: -0.9rem;
     }
 }
 
 @media (min-width:961px) and (max-width: 1024px) {
     /* tablet, landscape iPad, lo-res laptops ands desktops */
     #fs {
         width: 4.5rem;
         height: auto;
         margin-top: -17px;
         margin-left: -10px;
     }
     .bussola {
         position: relative;
         height: auto;
         width: 60%;
         margin: -2% 0% 2.6% 3.5%;
     }
     .lancetta2 {
         position: absolute;
         height: auto;
         width: 60%;
         margin: -2% 2% 0% 1.5%;
         transform-origin: 53.4% 51%;
     }
     .header {
         height: 3.9rem;
         padding: .5rem;
         background: hsla(190, 80%, 25%, 1);
     }
     .menu-button--label {
         position: absolute;
         z-index: 100;
         top: 0.4rem;
         right: .5rem;
         width: 3.2rem;
         height: 3.2rem;
         background: hsla(180, 40%, 50%, 1);
         border-radius: 3px;
         cursor: pointer;
         text-align: center;
         line-height: 3rem;
         font-size: 2rem;
         color: white;
         transition: all .5s ease;
     }
     .bar1,
     .bar2,
     .bar3 {
         width: 35px;
         height: 4px;
         background-color: white;
         margin: 7px 0;
         transition: 0.4s;
         color: white;
     }
     h2 {
         font-size: 14px;
         visibility: visible;
         height: 1rem;
         display: inline-block;
         line-height: 2rem;
     }
     .brand {
         margin-top: 0.1rem;
     }
     #clock {
         margin-top: 0.1rem;
     }
 }
 
 @media (min-width:768px) and (max-width: 800px) {
     /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
     #fs {
         width: 3.5rem;
         height: auto;
         margin-top: -24px;
         margin-left: -10px;
     }
     .bussola {
         position: absolute;
         float: left;
         width: auto;
         height: 55%;
         padding: 0px;
         margin: -5% 0 0 0;
         overflow: hidden;
     }
     .lancetta2 {
         position: absolute;
         float: left;
         width: auto;
         height: 55%;
         padding: 0px;
         margin: -4.5% 0% 0% -0.8%;
         overflow: hidden;
         transform-origin: 53.4% 51%;
     }
     .header {
         height: 3rem;
         padding: .5rem;
         background: hsla(190, 80%, 25%, 1);
     }
     .menu-button--label {
         position: absolute;
         z-index: 100;
         top: 0.7rem;
         top: 0.2rem;
         right: .5rem;
         width: 3.2rem;
         height: 2.5rem;
         background: hsla(180, 40%, 50%, 1);
         border-radius: 3px;
         cursor: pointer;
         text-align: center;
         line-height: 3rem;
         font-size: 2rem;
         color: white;
         transition: all .5s ease;
     }
     .bar1,
     .bar2,
     .bar3 {
         width: 35px;
         height: 4px;
         background-color: white;
         margin: 5px 0;
         transition: 0.4s;
         color: white;
     }
     .lat .long {
         visibility: hidden;
     }
     .brand {
         margin-top: -0.6rem;
     }
     #clock {
         margin-top: -0.6rem;
     }
 }
 
 @media (min-width:320px) and (max-width: 480px) {
     /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
     .bussola {
         position: relative;
         width: auto;
         height: 50%;
     }
     .lancetta2 {
         position: absolute;
         width: auto;
         height: 50%;
         transform-origin: 52.6% 51%;
     }
     #fs {
         width: 3rem;
         height: auto;
         margin-top: -15px;
     }
     .header {
         height: 2.8rem;
         padding: .5rem;
         background: hsla(190, 80%, 25%, 1);
     }
     .menu-button--label {
         position: absolute;
         z-index: 100;
         top: 4px;
         right: .5rem;
         width: 2.3rem;
         height: 2.3rem;
         background: hsla(180, 40%, 50%, 1);
         border-radius: 3px;
         cursor: pointer;
         text-align: center;
         line-height: 3rem;
         font-size: 2rem;
         color: white;
         transition: all .5s ease;
     }
     .bar1,
     .bar2,
     .bar3 {
         width: 1.5rem;
         height: 3px;
         background-color: white;
         margin: 5px 0;
         transition: 0.4s;
     }
     appr {
         visibility: hidden;
     }
     .brand {
         margin-top: -0.3rem;
     }
     #clock {
         margin-top: -0.3rem;
     }
 }
 
 @media (min-width:1025px) {
     /* big landscape tablets, laptops, and desktops */
     #fs {
         width: 4.6rem;
         height: auto;
         margin-top: -17px;
         margin-left: -10px;
     }
     .bussola {
         position: relative;
         width: 55%;
         height: auto;
     }
     .lancetta2 {
         position: absolute;
         width: 35%;
         transform-origin: 52.6% 51%;
     }
     .header {
         height: 4.3rem;
         padding: .5rem;
         background: hsla(190, 80%, 25%, 1);
     }
     .menu-button--label {
         position: absolute;
         z-index: 100;
         top: 0.7rem;
         right: .5rem;
         width: 3.2rem;
         height: 3.2rem;
         background: hsla(180, 40%, 50%, 1);
         border-radius: 3px;
         cursor: pointer;
         text-align: center;
         line-height: 3rem;
         font-size: 2rem;
         color: white;
         transition: all .5s ease;
     }
     .bar1,
     .bar2,
     .bar3 {
         width: 35px;
         height: 4px;
         background-color: white;
         margin: 7px 0;
         transition: 0.4s;
         /*color: white;  w3c*/
     }
     h2 {
         font-size: 14px;
         visibility: visible;
         height: 1rem;
         display: inline-block;
         line-height: 2rem;
     }
     .brand {
         margin-top: 0.1rem;
     }
     #clock {
         margin-top: 0.1rem;
     }
 }
 
 @media (min-width:861px) and (max-width: 960px) {
     .lancetta2 {
         position: absolute;
         height: initial;
         width: 55%;
         margin: -2% 2% 0% 1.7%;
         transform-origin: 53.4% 51%;
     }
 }